/*CSS by May Giacinto */

/*IMPORTED FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/*CSS RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*ROOT*/
:root {
    --Teal :#4CA7C0;
    --Purple: #484FB7;
    --Lavender: #6B8FE7;
    --Yellow: #E9BB57; 
    --Pink:#D9526F;
    --Dark-gray:#1E1E1E; 
    --White:#ffffff; 
}

/*Global Styles (mobile first)*/


body{ 
    margin: 0 auto;
    background-color: var(--Lavender);
    width: 60%;
    max-width: 450px;
}

h1 {
    font-family: "Kavoon";
    font-size: 3em;
    color: white;
    text-align: center;
    padding: 1rem;
}

h2 {
    font-family: "Kavoon";
    font-size: 2em;
    text-align: center;
}

h3 {
    font-family: "Inter";
    font-size: 1.5em;
}

h4 {
    font-family: "Inter";
    font-size: 1.15em;
}

p {
    font-family: "Inter";
    line-height: 2.5ch;
}

#header {
    background-color: var(--Purple);
    padding: 2em;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

#header p {
    font-family: "Inter";
    color: white;
    font-style: italic;
    text-align: center;
}

#nav {
    background-color: var(--Yellow);
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    padding: 1em;
}

#nav h2 {
    font-family: "Inter";
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    margin: auto;
}

nav li {

    margin: 1em auto;
    align-content: center;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

li a {
    display: block;
    width: 100%;
    font-weight: bold;
    padding: 1em 0em;
    background-color: white;
    color: var(--Purple);
    font-family: "Inter";
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;

}

li a:hover {
    color: white;
    background-color: var(--Purple);
}

#services {
    background-color: var(--Purple);
}

#services > h2 {
    color: white;
    padding: 1rem 1rem 0.5rem;
    text-align: left;
}

#services > h3 {
    padding: 0em 1rem;
    font-weight: bold;
    color: var(--Yellow);
}

#services > section {
    background-color: var(--White);
    margin: 1em auto;
    width: 70%;
    padding: 1em;
    border: 1em solid var(--White);
    border-radius: 5%;
}

#services h4 {
    color: var(--Purple);
    font-weight: bold;
    padding: 1rem 0;
}

#why-choose {
    background-color: var(--Pink);
}

#why-choose h2 {
    color: var(--White);
    padding: 1rem;
    text-align: left;
}

#why-choose ul {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 auto;
}

#why-choose li {
    font-family: "Inter";
    font-weight: bold;
    text-align: center;
    margin: 1rem;
}

#per, #prov, #supp, #flexi {
    width: 8em;
    border-radius: 10%;
    padding: 1rem;
}

#per {
    border: 0.5rem solid var(--Teal);
    background-color: var(--Teal);
}

#prov {
    border: 0.5rem solid var(--Lavender);
    background-color: var(--Lavender);
}

#supp {
    border: 0.5rem solid var(--Yellow);
    background-color: var(--Yellow);
}

#flexi {
    border: 0.5rem solid var(--White);
    background-color: var(--White);
}